.titleH1 {
  color: #999999;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.history-page {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  color: white;
  justify-content: center;
  padding-top: 20px;
}

.image-container {
  width: 300px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.image-wrapper {
  flex: 1;
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

.labels-wrapper {
  flex: 1;
  overflow-y: auto;
}

.label-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.label-list li {
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}
